{
        "type": "message",
        "attachments": [
        {
            "contentType": "application/vnd.microsoft.teams.card.o365connector",
            "content": {
                "@type": "MessageCard",
                "@context": "https://schema.org/extensions",
                "summary": "Summary",
                "title": "Merge Requests",
                "sections": [
                    {
                        "text": "<blockquote><h1><strong>Merge Request Count: {{ . | len -}}</strong></h1></blockquote><br/>"
                    },
                    {{ range . }}
                    {
                        "text": "<h1><strong>{{ .MergeRequestTitle }}</strong></h1><h2><strong>Status:</strong> {{ .MergeRequestStatusE }}</h2>
                                <h2><strong>Open since:</strong> {{ .MergeRequestOpenTime }}</h2>
                            {{ if .MergeRequestTimeSinceLastDiscussion }}
                                <h2><strong>Oldest open comment at:</strong> {{ .MergeRequestTimeSinceLastDiscussion }}</h2>
                            {{ end }}
                            {{ if .MergeRequestDiscussionResolved }}{{ if .MergeRequestDiscussionCount }}
                                <h2><strong>Solved discussions:</strong> {{ .MergeRequestDiscussionResolved }}/{{ .MergeRequestDiscussionCount }}</h2>
                            {{ end }}{{ end }}
                                <h2><strong>URL:</strong> <a href=\"{{ .MergeRequestURL }}\">{{ .MergeRequestURL }}</a></h2><br/>"
                    },
                    {{ end }}
                ]
            }
        }
        ]
    }
